.login-form {
    width: 30%;
    // height: 60%;
    align-items: center;
    margin-left: 400px;
    margin-top: 50px;
    // background-color: 

    .form-control-group {
        margin-bottom: 15px;
    }
}