<nb-layout>
  <nb-layout-column >
    <nb-card  class="login-form">
      <nb-card-body>
    <div >
        <form (ngSubmit)="savelogin()" #form="ngForm" aria-labelledby="title" >

            <div class="form-control-group">
              <label class="label" for="input-email">Email address:</label>
              <input nbInput fullWidth [(ngModel)]="user.email"  name="email" id="input-email"
                pattern=".+@.+\..+" placeholder="Email address" autofocus >
            </div>
            <div class="form-control-group">
              <label class="label" for="input-password">Password</label>
              <input nbInput fullWidth [(ngModel)]="user.password"  name="password" type="password" id="input-password"
                placeholder="password address" autofocus >
            </div>
           
            <button nbButton
                fullWidth
                status="success"
                
            >
          Sign In
        </button>
          </form>
    </div>
  </nb-card-body>
</nb-card>
  </nb-layout-column>
</nb-layout>